{% extends "base.html" %}
{% block title %}
  Ваша корзина товаров
{% endblock %}
{% block content %}


{%for my_order in my_orders%}

картиинка - <img src="/media/{{my_order.product.image}}" style="max-width: 100px;">
колличество - {{my_order.quantity}}
заведение - {{my_order.product.place.name}}
цена за еденицу - {{my_order.price}}
полная цена - {{my_order.get_cost}}

{%endfor%}




  <h1>Ваша корзина товаров</h1>
  <table class="cart">
    <thead>
      <tr>
        <th>Изображение</th>
        <th>Продукт</th>
        <th>Количество</th>
        <th>Удалить</th>
        <th>Полная цена</th>
        <th>Цена</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                <img src="{{ product.image.url }}" alt="" / style="max-width: 200px;">
              </a>
            </td>
            <td>{{ product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td><a href="{% url "cart:CartRemove" product.id %}">Удалить</a></td>
            <td class="num">{{ item.price }} руб.</td>
            <td class="num">{{ item.total_price }} руб.</td>
          </tr>
        {% endwith %}
      {% endfor %}
        <tr class="total">
          <td>Total</td>
          <td colspan="4"></td>
          <td class="num">{{ cart.get_total_price }} руб.</td>
        </tr>
    </tbody>
  </table>
<a href="{% url "orders:OrderCreate" %}" class="btn">Оформить заказ</a>

{% endblock %}