{% extends 'base.html' %}
{% load static %}
{% block title %}
&nbsp;|&nbsp;{{user.username}}
{% endblock %}
{% block content %}


<div class="row">

{%for tavern in taverns%}
<div class="col-12  col-md-6 col-lg-4  mb-5">
  <div class="card">
    <img class="card-img-top" src="{% if tavern.icon %}{{ tavern.icon.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" alt="Card image cap" style="height: 400px;">
    <div class="card-body">
      <h5 class="card-title"><a href="{{user.id}}/orders/{{tavern.id}}">{{tavern.name}}</a></h5>

      <div class="row">


        <div class="col-6"><h5 class="card-title">{{tavern.adres}}</h5></div>
        <div class="col-6"><h5 class="card-title">{{tavern.work_time}}</h5></div>

        <div class="col-6"><h5 class="card-title">Заказов в очереди №:</h5></div>
        <div class="col-6"><h5 class="card-title">{{tavern.orders_in_queue_count}}</h5></div>

        <div class="col-6"><h5 class="card-title">Проданно за сегодня:</h5></div>
        <div class="col-6"><h5 class="card-title">{{tavern.orders_paid_count}}</h5></div>

        <div class="col-6"><h5 class="card-title">На сумму:</h5></div>
        <div class="col-6"><h5 class="card-title">{{tavern.orders_paid_sum}}</h5></div>

        <div class="col-6"><h5 class="card-title">Средний чек:</h5></div>
        <div class="col-6"><h5 class="card-title">{{tavern.orders_paid_avg|floatformat:2}}</h5></div>


        <div class="col-6"><h5 class="card-title">Блюдо дня:</h5></div>
        <div class="col-6"><h5 class="card-title">{{tavern.dish_of_day}}</h5></div>
      </div>



  </div>
</div>
</div>
{%endfor%}
 </div> 
{% endblock %}

