{% extends 'base.html' %}
{% load static %}
{% block title %}
&nbsp;|&nbsp;{{user.username}}
{% endblock %}
{% block content %}


<div class="row">

{%for tavern in taverns%}
<div class="col-md-4">
  <div class="card">
    <img class="card-img-top" src="{% if tavern.icon %}{{ tavern.icon.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><a href="{{user.id}}/orders/{{tavern.id}}">{{tavern.name}}</a></h5>
      tavid {{user.id}}
    
      <h5 class="card-title">адрес: {{tavern.adres}}</h5>
      <h5 class="card-title">время работы:{{tavern.work_time}}</h5>
  </div>
</div>
</div>
{%endfor%}
 </div> 
{% endblock %}

