{% extends 'base.html' %}
{% load static %}
{% block title %}
Клиенты
{% endblock %}
{% block content %}

{%for client in users %}
<ul>
	<li>
		<ul>

				<li><a href="/users/{{user.id}}/{{user.first_name}}">{{client.username}}</a></li>		
				<!--li>{{client.first_name}}</li>	
				<li>{{client.last_name}}</li>	
				<li>{{client.email}}</li>	
				<li>{{client.password}}</li>	
				<li>{{client.groups}}</li>	
				<li>{{client.user_permissions}}</li>	
				<li>{{client.is_staff}}</li>	
				<li>{{client.is_active}}</li-->	
		</ul>	
	</li>	
</ul>

{% endfor %}

{% endblock %}
