{% extends 'base.html' %}
{% load static %}
{% block title %}
&nbsp;|&nbsp;{{user.username}}
{% endblock %}
{% block content %}


<div class="row">

<div class="col-md-6 p-0 sm-12">
<span><h2 class="text-center p-2">Заказы в очереди</h2></span>

<div class="row mr-3 mb-5">

{%for order_w in orders_wait%}

  <div class="card col-md-5  sm-12  mr-1 ml-1 mb-2 pl-1 pr-1">

    <div class="card-body">

      <div class="col-10 rounded "  style="background-color:yellow;"><h5 class="card-title text-center p-2">Ожидает</h5></div>

      <h5 class="card-title">{{order_w.order.appointed_time|date:"H-i"}}</h5>

      <div class="row">
        <div class="col-6"><h5 class="card-title">{{order_w.product.name}}</h5></div>
        <div class="col-6"><h5 class="card-title">{{order_w.quantity}}шт.</h5></div>
      </div>

      <div class="row">
       <div class="col-6"><h5 class="card-title">Сумма:</h5></div>
        <div class="col-6"><h5 class="card-title">{{order_w.get_cost}}</h5></div>
      </div>

      <div class="row">
        <div class="col-6"><h5 class="card-title">Заказ №:</h5></div>
        <div class="col-6"><h5 class="card-title">{{order_w.generate_mark}}</h5></div>
      </div>

      <form action="" method="post">
        {% csrf_token %}
         <input name="wait" value="{{order_w.id}}" style = "visibility: hidden;">
        <input type="submit" value="Готов" class="btn btn-primary" />
      </form>

    </div>

  </div>

  {%endfor%}
  </div>
</div>

<div class="col-md-6 p-0 sm-12">


<span><h2 class="text-center p-2">Готовые заказы</h2></span>

<div class="row ml-3  mb-5">
{%for order_r in orders_ready %}

   <div class="card col-md-5 sm-12 mr-1 ml-1 mb-2 pl-1 pr-1">

    <div class="card-body">

      <div class="col-10 rounded "  style="background-color:green;"><h5 class="card-title text-light text-center p-2">Готов</h5></div>

      <h5 class="card-title ">{{order_r.order.appointed_time|date:"H-i"}}</h5>

      <div class="row">
        <div class="col-6"><h5 class="card-title">{{order_r.product.name}}</h5></div>
        <div class="col-6"><h5 class="card-title">{{order_r.quantity}}шт.</h5></div>
      </div>

      <div class="row">
       <div class="col-6"><h5 class="card-title">Сумма:</h5></div>
        <div class="col-6"><h5 class="card-title">{{order_r.get_cost}}</h5></div>
      </div>

      <div class="row">
        <div class="col-6"><h5 class="card-title">Заказ №:</h5></div>
        <div class="col-6"><h5 class="card-title">{{order_r.generate_mark}}</h5></div>
      </div>

      <form action="" method="post">
        {% csrf_token %}
         <input name="ready" value="{{order_r.id}}" style = "visibility: hidden;">
        <input type="submit" value="Готов" class="btn btn-primary" />
      </form>

    </div>

  </div>
{%endfor%}
</div>
</div>

<!--div class="col-md-4">

<span>________________________________PAID___________________________</span>

<div class="card-deck">

{%for order_p in orders_paid%}
  <div class="card">

    <div class="card-body">
      <h5 class="card-title">{{order_p.order.appointed_time}}</h5>
      <h5 class="card-title">{{order_p.product.name}}</h5>
      <h5 class="card-title">колличество:{{order_p.quantity}}</h5>
      <h5 class="card-title">общая_цена:{{order_p.get_cost}}</h5>
      <h5 class="card-title">цена:{{order_p.price}}</h5>
      <h5 class="card-title">номер заказа: {{order_p.generate_mark}}</h5>
      <h5 class="card-title">номер заказа: {{order_p.order.item_status}}</h5>


    </div>
  </div>

{%endfor%}
</div-->
</div>
</div>
{% endblock %}

