{% extends 'base.html' %}
{% load static %}
{% block title %}
|Ваш заказ
{% endblock %}
{% block content %}
<!--название заведения-->
<!--ВРЕМЯ КОГДА ДОЛЖНО БЫТЬ ГОТОВО-->
<!--описание жранины-->
<div class="row justify-content-center">

<div class="w-50">
  <h1 class="mb-5">Оформление заказа</h1>

  <div class="mb-5">
    <h4>Время, когда вы заберете заказ:</h4>
    <br>
    <form class="order-form" action="." method="post">
      {{form.appointed_time}}
      {{form.help_texts}}
      {% csrf_token %}
      <input type="submit" class="btn btn-primary" value="Отправить">
    </form>
  </div>

  {% if form.errors %}
    <p class="error">Сожалеем, вы неправильно ввели логин или пароль</p>
  {% endif %}


  <div class="mb-5">
    <h2>Ваш заказ:</h2>
    <ul>
      {% for item in cart  %}
        <li>
          {{ item.product.name }} | Количество: {{ item.quantity }} | Цена: {{ item.total_price }}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>  
</div>
{% endblock %}

