{% extends 'base.html' %}
{% load static %}
{% block title %}
|НАЗВАНИЕ ЗАВЕДЕНИЯ-Жранина
{% endblock %}
{% block content %}
<!--жранинка-->
<!--ОПИСАНИЕ С ФОТО -->
<!-- ЗАКАЗ -->
<div class="card-deck" >
<div class="card" >
    <img class="card-img-top" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" alt="Card image cap">  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <p class="card-text">{{product.description}}</p>
    <a href="#" class="btn btn-primary">Заказать</a>
  </div>
</div>
</div>

Вес:цена(выбор)
ФОРМА ЗАКАЗА: кнопка "заказать"
<form action="{% url "cart:CartAdd" product.id %}" method="post">
    {{ cart_product_form }}
    {% csrf_token %}
    <input type="submit" value="Добавить в корзину">
</form>
{% endblock %}


