{% extends 'base.html' %}
{% load static %}
{% block title %}
| Таверны
{% endblock %}
{% block content %}


<div class="card-deck">

{%for place in places%}

  <div class="card border success">
    <img class="card-img-top" src="{% if place.icon %}{{ place.icon.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" alt="Card image cap" style="height: 280px;">
    <div class="card-body">
      <h4 class="card-title"><a href="{{place.get_absolute_url}}" class="font-weight-bold">{{place.name}}</a></h5>
      <p class="card-text">Шаурменная по аддресу такому-то гтовит для вас жранину, собака дурная</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Адрес:{{place.adres}}</small>
      <br>
      <small class="text-muted">Время работы:{{place.work_time}}</small>
    </div>
  </div>

{%endfor%}

 </div> 
{% endblock %}

