{% extends 'base.html' %}
{% load static %}
{% block title %}
| Таверны
{% endblock %}
{% block content %}


<div class="card-deck">

{%for place in places%}

  <div class="card">
    <img class="card-img-top" src="{% if place.icon %}{{ place.icon.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><a href="{{place.slug}}">{{place.name}}</a></h5>
      <p class="card-text">Шаурменная по аддресу такому-то гтовит для вас жранину, собака дурная</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">адрес: {{place.adres}}</small>
      <small class="text-muted">время работы:{{place.work_time}}</small>
    </div>
  </div>

{%endfor%}

 </div> 
{% endblock %}

